@page
@model ComunitateaMea.Views.Tickets.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Ticket[0].Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Ticket[0].Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Ticket[0].PublishedDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Ticket[0].Votes)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Ticket[0].StatusApproval)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Ticket) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PublishedDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Votes)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Status)
            </td>
            <td>
                @if ((await AuthorizationService.AuthorizeAsync(
                User, item,
                TicketOperations.Update)).Succeeded)
                {
                    <a asp-page="./Edit" asp-route-id="@item.Id">Edit</a>
                    <text> | </text>
                }

                <a asp-page="./Details" asp-route-id="@item.Id">Details</a>

                @if ((await AuthorizationService.AuthorizeAsync(
                User, item,
                TicketOperations.Delete)).Succeeded)
                {
                    <text> | </text>
                    <a asp-page="./Delete" asp-route-id="@item.Id">Delete</a>
                }
            </td>
        </tr>
}
    </tbody>
</table>
